<h1>Welcome, {{user}}</h1>
<p><a href="{% url 'logout' %}">Logout</a></p>

<h2>These are the tasks in the system:</h2>
<a href = "{% url 'create' %}">Create Task</a>
<table>
<tr>
    <th>Task Name</th>
    <th>Task Description</th>
</tr>

{% for task in task_list %}
    <tr>
        <td>{{task.Title}}</td>
        <td><a href="{% url 'details' task.id %}">Description</a></td>
        <td><a href ="{% url 'update' task.id %}">Update</a></td>
        <td><a href = "{% url 'delete' task.id %}">Delete</a></td>
    </tr>
{% endfor %}
</table>